<section class="reportAdd">
	<form>
    <div class="container">
            <div class="row">
                <div class="col-sm-6">
                	<div class="row">
                		<div class="col-sm-6">
                        <input type="text" ng-model="safetyreportid" />
                		</div>
                        <div class="col-sm-6">
                        <input type="text" ng-model="sender" />
                		</div>
                  	</div>
                </div>
                <div class="col-sm-6">
                	<div class="row">
                		<div class="col-sm-6">
                        <input type="text" ng-model="serious" />
                		</div>
                        <div class="col-sm-6">
                        <input type="text" ng-model="companynumb" />
                		</div>
                  	</div>
                </div>
         	</div>
	</div>
    <h2> Associated Reactions</h2>
    <p><input type="text" ng-model="companynumb" /><input type="button" ng-click="save()" id="btnAdd" value="Add"/></p>
	</form>

</section>
